:local .container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

:local .grow {
  flex-grow: 1;
  position: relative;
}

:local .child {
  width: 100%;
  height: 100%;
  position: absolute !important;
}

:local .footer {
  padding: .5rem;
}

:local .restart {
  float: right
}